@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@400;500;600;700&display=swap");
@import "tailwindcss";

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Mulish", sans-serif;
}

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: #9ca3af;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #6b7280;
}
